body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b9b8b8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
    width: 0; 
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 4px;
    padding: 12px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    text-align: center;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
    display: block;
    margin-bottom: 8px;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.input[type="submit"]:hover {
    background-color: #555;
}

.error-container {
    background-color: #ffdddd;
    color: #f44336;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
}

.success-container {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
}

.error-container, .success-container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.hero-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1596178060810-72f53ce9a65c?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
    font-size: 5em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}

.left-nav {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.left-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.left-nav li {
    margin-right: 20px;
}

.left-nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.left-nav li a:hover {
    background-color: #555;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

.additional-info {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.additional-info h2 {
    color: #333;
}

.additional-info p {
    color: #666;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.additional-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.additional-info li {
    margin-bottom: 10px;
}
